ul {
    list-style: none;
}

#desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
}

#carousel {
    position: absolute;
    top: 0;
    height: 200px;
    width: 100%;
    background: gray;
    overflow: hidden;
}

#carousel > ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#carousel > ul > li {
    position: absolute;
    top: 0;
    left: 0;
    background: red;
} 

.moveable {
    -webkit-transition: -webkit-transform .6s;
}
